<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
  <style type="text/css">
    h2 {
      color: gray;
    }
    p hr {
      color: #2d2a24;
    }
  </style>
</head>
<body>
  <h2><%= @user %> 様</h2>
  <hr />
  <p>
    「Free Meet運営事務局」です。コメントを受け取りました。
  </p>
  <p><%= link_to 'Free Meet', 'https://lit-ravine-16820.herokuapp.com/', method: :get %></p>
  <hr />
</body>
</html>