/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

html, body{
  height: 100%;
}

#map-top {
  height: 70%;
  margin-bottom: 30px;
}

#map {
  height: 45%;
  margin-bottom: 30px;
}


body{
  margin: 0 50px 0 50px;
}

.tb-center{
  vertical-align: middle;
}

.footer-box{
  margin: 50px, 0px;
}

.text-center{
  text-align: center;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index-box{
   padding: 0.5em 1em;
    margin: 0.2em 0;
    background-color: #F2FBEF;
    border: solid 1px gray;/*線*/
    border-radius: 10px;/*角の丸み*/
    height: 160px;
    overflow: hidden;
}

.comment-field{
  margin-top: 20px;
  margin-bottom: 10px;
}

.mypage-box{
    padding: 0.5em 1em;
    margin: 0.2em 0;
    background-color: #FBFBEF ;
    border: double 5px gray;/*線*/
    border-radius: 5px;/*角の丸み*/
}